proyecto/ClienteFisio/ClienteFisio/Service References/ClientWCF/ServerFisio5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ServerFisio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" />
  <xs:import schemaLocation="http://localhost:8000/ServerFisio?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="registrarNuevoHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="h" nillable="true" type="q1:THistorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarNuevoHistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarTratamientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHist" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarTratamientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarTratamientosResult" nillable="true" type="q2:ArrayOfTTratamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarTratamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="t" nillable="true" type="q3:TTratamiento" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarTratamientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cerrarDiagnostico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cerrarDiagnosticoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifDiagnostico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="h" nillable="true" type="q4:THistorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifDiagnosticoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarSesionesTrat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHist" type="xs:int" />
        <xs:element minOccurs="0" name="idTerap" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarSesionesTratResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarSesionesTratResult" nillable="true" type="q5:ArrayOfTSesionCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifTratamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="t" nillable="true" type="q6:TTratamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifTratamientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cerrarTratamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="t" nillable="true" type="q7:TTratamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cerrarTratamientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrataDiagAbiertos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrataDiagAbiertosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getTrataDiagAbiertosResult" nillable="true" type="q8:ArrayOfTTratamiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNomDiag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNomDiagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNomDiagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNomTerap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNomTerapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNomTerapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getPacienteResult" nillable="true" type="q9:TPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="s" nillable="true" type="q10:TSesionCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifSesionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarSesionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidosMes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidosMesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getPedidosMesResult" nillable="true" type="q11:ArrayOfTPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSesionesMes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSesionesMesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getSesionesMesResult" nillable="true" type="q12:ArrayOfTSesionCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getComentariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getComentariosResult" nillable="true" type="q13:ArrayOfTComentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarCom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarComResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="prueba">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pruebaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pruebaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contenido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatarios" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="us" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="loginResult" nillable="true" type="q15:TFisioterapeuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="p" nillable="true" type="q16:TPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoPacienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarPacienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="p" nillable="true" type="q17:TPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifPacienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarPacientesConMail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarPacientesConMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarPacientesConMailResult" nillable="true" type="q18:ArrayOfTPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarPacientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarPacientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarPacientesResult" nillable="true" type="q19:ArrayOfTPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarMateriales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarMaterialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarMaterialesResult" nillable="true" type="q20:ArrayOfTMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="añadirMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="añadirMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="pedido" nillable="true" type="q21:TPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getPedidosResult" nillable="true" type="q22:ArrayOfTPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarFisios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarFisiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarFisiosResult" nillable="true" type="q23:ArrayOfTFisioterapeuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoFisio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="f" nillable="true" type="q24:TFisioterapeuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoFisioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEmpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifFisio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="f" nillable="true" type="q25:TFisioterapeuta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifFisioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="s" nillable="true" type="q26:TSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaSalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarSalas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarSalasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarSalasResult" nillable="true" type="q27:ArrayOfTSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarSalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarDiagnosticos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarDiagnosticosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarDiagnosticosResult" nillable="true" type="q28:ArrayOfTDiagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarDiagnostico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarDiagnosticoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoDiagnostico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="d" nillable="true" type="q29:TDiagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoDiagnosticoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaTerapia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="t" nillable="true" type="q30:TTerapia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaTerapiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarTerapias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarTerapiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarTerapiasResult" nillable="true" type="q31:ArrayOfTTerapia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTerapia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTerapiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarTerapia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="t" nillable="true" type="q32:TTerapia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarTerapiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCitas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="getCitasResult" nillable="true" type="q33:ArrayOfTSesionCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="s" nillable="true" type="q34:TSesionCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarCitaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarCitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarHistoriales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarHistorialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ServerFisio.DatosDB" minOccurs="0" name="recuperarHistorialesResult" nillable="true" type="q35:ArrayOfTHistorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>